

<ion-content [fullscreen]="true">

  <app-titulos-peliculas titulo="Peliculas"></app-titulos-peliculas>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes"> </app-slideshow-backdrop>


  <app-titulos-peliculas titulo="Cartelera"></app-titulos-peliculas>
  <app-slideshow-poster [poster]="peliculasRecientes"> </app-slideshow-poster>

 
  <app-titulos-peliculas titulo="Populares"></app-titulos-peliculas>
  <app-slide-show-pares [poster]="populares"
                        (cargarMas)="cargarMas()"> </app-slide-show-pares>

  

  
  
</ion-content>
